h5{
    background-color: rgb(8,132,252);
    color: white;
    padding: 10px;
    text-align: center;
}
    
h3{
    text-align: center;
}
    
.foto{
    text-align: center;
}
    
footer{
    background-color: rgb(62, 155, 247);
    color: white;
    text-align: center;
    padding: 10px;
    margin: 10px;
}      
    

   

        
        



                
        
        
       
    
         
                
                
        
        
        
        
    

